body{
    margin: 0.1%;
    overflow-x: hidden;
}

.post-title{
    font-family: 'Quando', serif;
    text-align: center;
    font-size: 160%;
}

.author-name{
    float: left;
    font-family: 'Niconne', cursive;
    padding: : 0% 0% 2% 0%;
    text-align: left;
}

.button-align{
    text-align: right;
}

.button-type1{
    box-shadow: 0px 7px 13px -8px #ff0066;
    color:white;
    padding: 0.5% 1% 0.5% 1%;
    border:0px;
    background-color: #ff0066;
    border-radius: 0px;
    font-family: 'Quando', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Niconne&family=Oswald&family=Quando&display=swap');


.button-type1:hover{
    background-color: mediumvioletred;
    box-shadow: 0px 7px 13px -8px red;
}

.button-text{
    font-size: 110%;
}

.button-type2{
    box-shadow: 0px 7px 13px -8px #ff0066;
    color:white;
    padding: 0.5% 3% 0.5% 3%;
    border:0px;
    background-color: #ff0066;
    border-radius: 5px;
    font-family: 'Quando', 'serif';
}

.button-type2:hover{
    background-color: mediumvioletred;
    box-shadow: 0px 7px 13px -8px red;
}
.button-type3{
    margin-top: 0.5%;
    box-shadow: 0px 7px 13px -8px #ff0066;
    color:white;
    padding: 0.5% 1% 0.5% 1%;
    border:0px;
    background-color: #ff0066;
    border-radius: 0px;
    font-family: 'Quando', 'serif';
}

.button-type3:hover{
    background-color: mediumvioletred;
    box-shadow: 0px 7px 13px -8px red;
}

.space-around-post{
    padding:0% 6% 0% 6%
}

.buttpn-top-space{
    margin-top: 0.5%;
}

.top-space{
    margin-top: 2%;
}

.bottpm-space{
    margin-bottom: 2%;
}

.post-look{
    height: auto;
    margin-top: 1%;
    font-size: 91%;
    font-family: 'Convergence', sans-serif;
    border-radius: 0px;
}

[contenteditable]{
    outline: 0px solid lightblue;
}


.comment-area{
    width:60%;
    border:1px solid grey;
    text-align: left;
    font-size: 90%;
    letter-spacing: 1px;
    color:gray;
    border-radius: 0px;
}

.comment-box{
    word-wrap: break-word;
    margin-top: 1%;
    width: 60%;
    padding: 1%;
    background-color: #a9a9a92e;
}

.comment-area:focus{
    border: 1px solid lightblue;
    border-radius: 0px;
}

.comment-helping-text{
    font-weight: bold;
    font-family: none;
}

#commentButton {
    width: 10%;
    padding-left: 0px;
    margin-left: 0px;
}

#jim {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#lk {
    width: 7%;
    margin-top: 0.5%;
    box-shadow: 0px 7px 13px -8px #ff0066;
    color: white;
    padding: 0.5% 1% 0.5% 1%;
    border: 0px;
    background-color: #ff0066;
    border-radius: 0px;
    font-family: 'Quando', 'serif';
}

#editButton {
    width: 7%;
}
.comment{
    padding: 3% 1%;
    background-color: white;
    font-family: none;
    margin: 1.5%;
}

#like-updation{
    margin-top: 0.5%;
    font-size: 80%;
    font-family: 'Quando','serif';
}